{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Tour" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
	{% if not forloop.first %}, {% endif %}
	{{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if summary %}
	<h3>{{ summary.title }}</h3>
	<p>{{ summary.description }}</p>
{% endif %}
{% endblock %}

{% block main %}

<div class="gallery listing isotope" style="position: relative; overflow: hidden; height: 968px;">
	
</div>
{% pagination_for page_posts %}

{% endblock %}

